img {
    width: 500px;
    height: 600px;
    border-radius: 20%;
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    gap: 20px;
    align-items: center;
}